body {
  margin: 0;
  background-color: black;
  background-image: url('./assint/background9.jpg');
  -moz-background-image: url('./assint/background9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: calc(50vh - 301px);
}
canvas {
  border: 1px solid #000000;
  background-color: #ffcb62;
}